@model UserEditDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Profil Ayarları</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Şifre ve Bilgi Güncelleme Sayfası</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="name">Adınız</label>
                                <input type="text" class="form-control" asp-for="Name" id="name" placeholder="Adınızı giriniz">
                            </div>
                            <div class="form-group">
                                <label for="surname">Soyadınız</label>
                                <input type="text" class="form-control" asp-for="Surname" id="surname" placeholder="Soyadınızı giriniz.">
                            </div>
                            <div class="form-group">
                                <label for="mail">Mail Adresiniz</label>
                                <input type="email" class="form-control" asp-for="Mail" id="mail" placeholder="Email adresinizi giriniz.">
                            </div>
                            <div class="form-group">
                                <label for="username">Kullanıcı Adınız </label>
                                <input type="text" class="form-control" asp-for="Username" id="username" placeholder="Kullanıcı adınızı giriniz.">
                            </div>
                            <div class="form-group">
                                <label for="password">Şifreniz</label>
                                <input type="password" class="form-control" asp-for="Password" id="password" placeholder="Şifrenizi giriniz.">
                            </div>
                            <div class="form-group">
                                <label for="rePassword">Şifre Onayınız</label>
                                <input type="password" class="form-control" asp-for="ConfirmPassword" id="rePassword" placeholder="Şifrenizi tekrar giriniz.">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">Bilgileri Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
